@using HW_4_17.Models;
@model UploadedImagesViewModel


<div b-wzwicsxrru class="container">
    <main b-wzwicsxrru role="main" class="pb-3">

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <img src="/uploads/@Model.Image.FileName" style="width: 800px;" />
                <br />
                <h3> Views: @Model.Image.View </h3>
            </div>
        </div>

    </main>
</div>
